In [1]:
import pandas as pd
import numpy as np

In [2]:
# Set a random seed for reproducibility
np.random.seed(0)

# Create a NumPy array with random values
data = np.random.rand(4, 4)

# Create a DataFrame with the random values
df = pd.DataFrame(data, columns=['Feature1', 'Feature2', 'Feature3', 'Feature4'])

# Display the DataFrame
print(df)

   Feature1  Feature2  Feature3  Feature4
0  0.548814  0.715189  0.602763  0.544883
1  0.423655  0.645894  0.437587  0.891773
2  0.963663  0.383442  0.791725  0.528895
3  0.568045  0.925597  0.071036  0.087129

In [3]:
# Rename the columns of the 'df' DataFrame
df.rename(columns={'Feature1': 'Random value 1',
                   'Feature2': 'Random value 2',
                   'Feature3': 'Random value 3',
                   'Feature4': 'Random value 4'}, inplace=True)

# Display the DataFrame with the updated column names
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.548814        0.715189        0.602763        0.544883
1        0.423655        0.645894        0.437587        0.891773
2        0.963663        0.383442        0.791725        0.528895
3        0.568045        0.925597        0.071036        0.087129

In [4]:
# Compute descriptive statistics for the 'df' DataFrame
statistics = df.describe()

# Display the descriptive statistics
print(statistics)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.626044        0.667530        0.475778        0.513170
std          0.234006        0.223640        0.306171        0.329699
min          0.423655        0.383442        0.071036        0.087129
25%          0.517524        0.580281        0.345949        0.418454
50%          0.558429        0.680542        0.520175        0.536889
75%          0.666949        0.767791        0.650004        0.631606
max          0.963663        0.925597        0.791725        0.891773

In [5]:
# Check for null values in 'df'
null_values = df.isnull().sum()

# Get the data types of the columns
data_types = df.dtypes

# Display the results
print("Null Values:")
print(null_values)
print("\nData Types:")
print(data_types)

Null Values:
Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

Data Types:
Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [6]:
# Display the 'Random value 2' and 'Random value 3' columns using .loc[]
selected_columns_loc = df.loc[:, ['Random value 2', 'Random value 3']]
print(selected_columns_loc)

   Random value 2  Random value 3
0        0.715189        0.602763
1        0.645894        0.437587
2        0.383442        0.791725
3        0.925597        0.071036

In [7]:
# Display the 'Random value 2' and 'Random value 3' columns using index location method
selected_columns_index = df.iloc[:, [1, 2]]  # Column indices 1 and 2 correspond to 'Random value 2' and 'Random value 3'
print(selected_columns_index)

   Random value 2  Random value 3
0        0.715189        0.602763
1        0.645894        0.437587
2        0.383442        0.791725
3        0.925597        0.071036